{% extends 'index.html' %}
{% block title %}
Quiz
{% endblock%}
{% block body %}

      <!-- Modal -->
      <div class="modal fade" id="modaler" tabindex="-1"  aria-labelledby="label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="label">Result</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="result"></p>
              <p id='time'></p>
              <p id='total'></p>
            </div>
            <div class="modal-footer">
              <a class="mx-auto" href="{% url 'dashboard' %}"><button type="button" class="btn btn-secondary">Dashboard</button></a>
            </div>
          </div>
        </div>
      </div>
<span id='q' style="display: none;">{{c}}</span>
<div class="container">
    <div class="row bg-light my-4 py-3">
        <div class="col-md-5">
            <p>Total point: <span id='pont'></span></p>
        </div>
        <div class="col-md-6 ml-auto">
            <p>To save this question click here after chossing the answer : 
                <button class="btn btn-primary rounded save" disabled onclick="add()" > 
                Save</button></p>
        </div>
    </div>
    <div class="row "> 
        <div class="col-md-8 mx-auto bg-light text-dark  mt-4 py-3 slide">
                <p id="ques"> </p>
            ==><button class="ans4 btn btn-outline-dark rounded" onclick="clicked(3,'ans4')" style="width: 50%"></button><br> 
            ==><button class="ans1 btn btn-outline-dark rounded" onclick="clicked(0,'ans1')" style="width: 50%"></button><br>    
            ==><button class="ans3 btn btn-outline-dark rounded" onclick="clicked(2,'ans3')" style="width: 50%"></button><br>    
            ==><button class="ans2 btn btn-outline-dark rounded" onclick="clicked(1,'ans2')" style="width: 50%"></button><br>  
          </div>
    </div>
    <div class="row">
            <div class="col-md-8 mx-auto bg-dark py-3 text-center">
                    <button class="nxt btn btn-outline-light rounded-pill ml-3 "style="width: 30%" onclick="change()" disabled>Next</button>
            </div>
    </div>
</div>
<script>
let inital=new Date()
var count=0
var answer=''
x=document.querySelector('#q').innerHTML.replace(/&quot;/g,"'")
x=document.querySelector('#q').innerHTML.replace(/&#39;/g,"'")
x=document.querySelector('#q').innerHTML.replace(/&amp;/g,"&")
x=JSON.parse(x)
console.log(x)
ques=document.querySelector("#ques")
ans1=document.querySelector(".ans1")
ans2=document.querySelector(".ans2")
ans3=document.querySelector(".ans3")
ans4=document.querySelector(".ans4")
change()
var point=0
document.querySelector('#pont').innerHTML='0'
function change(){
    $('.save').attr('disabled',true)
    $('.nxt').attr('disabled',true)
    document.querySelector('.pro').innerHTML="Progress"+count*10+"%"
    
    if(count<10){
         if (count==9){
            document.querySelector('.nxt').innerHTML="Finish"   
            }
        ans1.style.backgroundColor = "";
        ans2.style.backgroundColor = "";
        ans3.style.backgroundColor = "";
        ans4.style.backgroundColor = "";
        ques.innerHTML=`Question ${count+1} : ${x[count]["question"]}`
        ans1.innerHTML=x[count]['answer'][0]
        ans2.innerHTML=x[count]['answer'][1]
        ans3.innerHTML=x[count]['answer'][2]
        ans4.innerHTML=x[count]['answer'][3]
        count++
    }
    else if(count==10){
        $('.nxt').removeAttr('disabled')
        let final= new Date()
        let sec = Math.floor((final-inital)/1000)
        let minute=0
        if(sec>60){
             minute=Math.floor(sec/60)
             sec=sec%60
        }
        // alert('Total points : '+point+" | Total time taken "+minute+' min '+sec+' sec ')
        document.querySelector('.nxt').setAttribute("data-toggle", "modal");
        document.querySelector('.nxt').setAttribute("data-target", "#modaler");
        document.querySelector('#result').innerHTML=point<5?"Result : Fail":"Result : Pass"
        var result=point<5?"Fail":"Pass"
        document.querySelector('#total').innerHTML="Total Points : "+point
        document.querySelector('#time').innerHTML="Total time taken "+minute+' min '+sec+' sec '
        $.ajax({
            url:'{% url "pass_fail" %}',
            type:'get',
            data:{'result':result},
            success:function(data){

            }

        })

    
    }
   

}

function clicked(x,clas){
    $.ajax({
        url:'{% url "check" %}',
        type: "get",
        data:{'x':x,'count':count-1},
        success:function(data){
            document.querySelector('.save').removeAttribute('disabled')

            if(x==data.ans){
                document.querySelector(`.${clas}`).style.backgroundColor = "rgba(0,255,0,0.6)";
                point+=1
                answer=document.querySelector(`.${clas}`).innerHTML
                document.querySelector('#pont').innerHTML=''+point
            }
            else{
                
                document.querySelector(`.${clas}`).style.backgroundColor = "rgba(255,0,0,0.6)";
                if(data.ans==0){
                    ans1.style.backgroundColor = "rgba(0,255,0,0.6)"
                    answer=document.querySelector('.ans1').innerHTML
                }
                if(data.ans==1){
                    ans2.style.backgroundColor = "rgba(0,255,0,0.6)"
                    answer=document.querySelector('.ans2').innerHTML
                }
                if(data.ans==2){
                    ans3.style.backgroundColor = "rgba(0,255,0,0.6)"
                    answer=document.querySelector('.ans3').innerHTML
                }
                if(data.ans==3){
                    ans4.style.backgroundColor = "rgba(0,255,0,0.6)"
                    answer=document.querySelector('.ans4').innerHTML
                }
            }
        }
    })
    $('.nxt').removeAttr('disabled')
    
}

function add(){
    let question=document.querySelector('#ques').innerHTML
    $.ajax(
        {
            url:'{% url "add_qans" %}',
            type:'get',
            data:{'qns':question,'ans':answer},
            success:function(data){
                alert('Question and answer saved')
            }
        }
    )   
}
</script>
{% endblock %}