{% extends 'index.html' %}
{% block title %}
Sign Up
{% endblock %}
{% block body %}
<div class="container-fluid ">
    <div class="row img bg">
        <div class="col-md-5 mx-auto p-5 my-5 trans">
            <form action="{% url 'sign_up' %}" method="POST">
                {% csrf_token %}
                <div class="form-group text-center">
                    <span style="font-size: 30px;"><i class="fa fa-user"></i></span>
                    <h5><strong>Sign Up</strong></h5>
                </div>
                <div class="form-group">
                        <small id="result"></small>
                    </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="usr" id='usr' class="form-control" onkeyup="checkuser()" required >
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="em" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Enter Password</label>
                    <div class="input-group">
                        <input type="password" name="pw" id="pw" class="form-control " onkeyup="check()"
                        required pattern="\w{5,}" 
                                title="Password must contain atleast 5 characters"
                            required >
                            <div class="input-group-append">
                                    <span class="input-group-text bg-transparent text-black"><i class="fa fa-eye" id="icon"></i></span>
                                </div>
</div>
                 
                <div class="form-group">
                    <label>Enter Password(Again)</label>
                    <div class="input-group">
                        <input type="password" name="apw" id="apw"  class="form-control "         required pattern="\w{5,}" 
                        title="Password must contain atleast 5 characters"
                            required onkeyup="check()" >   
                            <div class="input-group-append">
                                    <span class="input-group-text bg-transparent text-black"><i class="fa fa-eye" id="icon1"></i></span>
                                </div>

                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark rounded form-control " id="submitbtn" disabled>Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

function check(){
            let p = $("#pw").val();
            let cp = $("#apw").val();
            if(p==cp){
                $("#pw").css({border:"2px solid skyblue"});
                $("#apw").css({border:"2px solid skyblue"});
            }
            else{
                $("#pw").css({border:"2px solid red"});
                $("#apw").css({border:"2px solid red"});
            }
        }
        $(function(){
            $("#icon").click(function(){
                let a=$("#pw").attr("type");
                if(a=="password"){
                    $("#pw").attr("type", "text");
                    $("#icon").removeClass("fas fa-eye").addClass("fas fa-eye-slash");
                }
                else{
                    $("#pw").attr("type", "password");
                    $("#icon").removeClass("fas fa-eye-slash").addClass("fas fa-eye");
                }  
            })
            $("#icon1").click(function(){
                let a=$("#apw").attr("type");
                if(a=="password"){
                    $("#apw").attr("type", "text");
                    $("#icon1").removeClass("fas fa-eye").addClass("fas fa-eye-slash");
                }
                else{
                    $("#apw").attr("type", "password");
                    $("#icon1").removeClass("fas fa-eye-slash").addClass("fas fa-eye");
                }  
            })
        })

        function checkuser(){
        let un = document.getElementById("usr").value;
        $.ajax({
            url:"{% url 'check_user' %}",
            type:"get",
            data:{usern:un},
            success:function(data){
                if(data == "Exists"){
                    $("#result").html("This Username is already taken").addClass("text-danger");
                    $("#submitbtn").attr("disabled","disabled")
                }else{
                    $("#result").html("");
                    $("#submitbtn").removeAttr("disabled")
                }
            }
        })
    }
</script>
{% endblock %}